# Oracle PBCS Configuration
# Copiez ce fichier en .env et remplissez vos valeurs

ORACLE_HOST=votre-instance.epm.region.ocs.oraclecloud.com
ORACLE_USERNAME=votre_utilisateur
ORACLE_PASSWORD="votre_mot_de_passe"
ORACLE_APP=NOM_APPLICATION

# Optionnel (valeurs par défaut)
API_VERSION=v3
INTEROP_VERSION=11.1.2.3.600
